
.text-boundary {
  width: 580px;
  height: 400px; 
  overflow: auto; 
  text-overflow: ellipsis; 
}
.scroll-container {
  overflow: auto;
  scrollbar-color: #a13e3e #f1f1f1; /* thumb color | track color */
  scrollbar-width: thin;             /* options: auto | thin | none */
}