.text-boundary {
  /* Removed hardcoded widths to let the parent container dictate sizing */
  overflow: visible; 
}

.scroll-container {
  overflow: auto;
  scrollbar-color: #572323 #000000; /* [Thumb Color (Dark Gray)] [Track Color (Light Gray)] */
  scrollbar-width: thin;             
}

.scroll-container::-webkit-scrollbar {
  width: 4px; 
}

.scroll-container::-webkit-scrollbar-track {
  background: #000000; 
  border-radius: 20px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #572323; 
  border-radius: 20px; 
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #572323af; 
}